{% extends 'base.html' %}
{% block title %}HOME{% endblock %}
{% load bootstrap_tags %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col justify-content-center align-items-center p-5 rounded border border-danger">
            <form action="" method="post">
                {% csrf_token %}
                <p class="display-4 text-center my-4">Are you sure to delete "{{ task }}"?</p>
                {{ form|as_bootstrap }}
                <div class="text-center justify-content-center">
                    <a class="btn  btn-lg btn-primary mx-2" href="{% url 'todo:home' %}">Go back</a>
                    <button class="btn btn-lg btn-danger mx-2" type="submit">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}