{% extends 'base.html' %}
{% load bootstrap_tags %}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto my-5 rounded  w-25">
            <p class="display-5 my-5 text-info">Register</p>
            <form action="" method="post">
                {%csrf_token%}
                <input type="text" name="username" class="form-control" placeholder="Username" required id=""><br>
                <input type="email" name="email" class="form-control" placeholder="E-mail" required id=""><br>
                <input type="password" name="password1" class="form-control" placeholder="Password" required id=""><br>
                <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required
                    id=""><br>
                <button class="btn btn-outline-info my-3 w-25" type="submit" name="" id="">Register</button>
            </form>
            <a href="{% url 'todo:login' %}" class="lead text-decoration-none">Alreday have an account? Login!</a>
        </div>

    </div>
</div>


{%endblock%}